<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468866188188-33iaodpnkmapvg8njsvil1ou7n0qg1ov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468866188188-33iaodpnkmapvg8njsvil1ou7n0qg1ov</string>
	<key>API_KEY</key>
	<string>AIzaSyDB9VewtVcA1yY-rj0TASLKsSqHbgGiFlc</string>
	<key>GCM_SENDER_ID</key>
	<string>468866188188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.instamobile.FirebaseStarterKit</string>
	<key>PROJECT_ID</key>
	<string>fir-starterkit-fc172</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-starterkit-fc172.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468866188188:ios:7269d77c642f4bbe</string>
	<key>DATABASE_URL</key>
	<string>https://fir-starterkit-fc172.firebaseio.com</string>
</dict>
</plist>